#container {
    width: 60vw;
    margin: 15px 0 15px 0;
    padding: 10px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    color: black;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
    align-items: center;
    border-radius: 20px;
  }
  