

/* ================ COLORS ================ */
$blue_main: #002a5f;
$green_main: #a1c51e;
$white_main: #fff;


/* ================ SIZES ================ */
$logo_4x: 36rem;


/* ================ TEXTS ================ */
$description_4x: 5rem;


